:root {
    --primary-text-color: #212121;
    --activ-text-color: #2196F3;
    --secondary-text-colr: #757575;
}

body {
    background-color: #fff;
    color: var(--primary-text-color);
}

/* header */

.header-link {
    color: var(--primary-text-color);
}

.name-company {
    color: var(--activ-text-color);
}

.list {
list-style: none;
}

.site-info a {
    color: var(--primary-text-color);    
}

.site-nav a {
    color: var(--primary-text-color);
}

.site-info a:hover, 
.site-info a:focus {
    color: var(--activ-text-color);
}

.site-nav a:hover, 
.site-nav a:focus {
    color: var(--activ-text-color);
}

/* hero */



/* advantages */

.advantages p {
    color: var(--secondary-text-colr);
}

/* examples */


/* team */

.team p {
    color: var(--secondary-text-colr);
}

/* footer */



/* цвет страницы #FFFFFF */
/* основной цвет текста 212121 */
/* вторичный цвет текста 757575 */
/* цвет эффектов 2196F3 */
/* доп. цвет фона F5F4FA */
/* цвет подвала 2F303A */
