:root {
    --primary-text-color: #212121;
    --activ-text-color: #2196F3;
    --secondary-text-colr: #757575;
    --secondary-bg-color: #F5F4FA;
    --primary-bg-color:  #fff;
    
}

body {
    background-color: #fff;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}

/* header */

.header-link {
    color: var(--primary-text-color);
    font-family: Raleway, sans-serif;
}

.name-company {
    color: var(--activ-text-color);S
}

.list {
list-style: none;
}

.site-info a {
    color: var(--primary-text-color);    
}

.site-nav a {
    color: var(--primary-text-color);
}

.site-nav a.current {
    color: var(--activ-text-color);
}

.site-info a:hover, 
.site-info a:focus {
    color: var(--activ-text-color);
}

.site-nav a:hover, 
.site-nav a:focus {
    color: var(--activ-text-color);
}

/* hero */



/* advantages */

.advantages p {
    color: var(--secondary-text-colr);
}

/* examples */


/* team */

.team p {
    color: var(--secondary-text-colr);
}

/* footer */

/* button */

.button {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
}

.button.primary:hover, 
.button.primary:focus {
    background-color: var(--activ-text-color);
    color: var(--primary-bg-color);
}

.button.primary {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
}

.button.secondary {
    background-color: var(--activ-text-color);
    color: var(--primary-bg-color);
}

.button.secondary.current {
    background-color: var(--activ-text-color);
    color: var(--primary-bg-color);
}



}

/* цвет страницы #FFFFFF */
/* основной цвет текста 212121 */
/* вторичный цвет текста 757575 */
/* цвет эффектов 2196F3 */
/* доп. цвет фона F5F4FA */
/* цвет подвала 2F303A */
